[submodule "vim/bundle/vim-slime"]
	path = vim/bundle/vim-slime
	url = git@github.com:jpalardy/vim-slime.git
[submodule "vim/bundle/CSApprox"]
	path = vim/bundle/CSApprox
	url = git@github.com:vim-scripts/CSApprox.git
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "vim/bundle/VimOrganizer"]
	path = vim/bundle/VimOrganizer
	url = git@github.com:hsitz/VimOrganizer.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
